* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,body {
  min-width: 1226px;
}
.container {
  width: 1226px;
  margin: 0 auto;
}
.container::before {
  display: table;
  content: '';
  clear: both;
}
.container::after {
  display: table;
  content: '';
  clear: both;
}
.clearfix::before {
  display: table;
  content: '';
  clear: both;
}
.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
/* 导航条 */
.site-topbar {
  position: relative;
  min-width: 1226px;
  z-index: 40;
  background-color: #333;
}
.site-topbar a {
  color: #b0b0b0;
  line-height: 40px;
  font-size: 12px;
  text-decoration-line: none;
}
.site-topbar a:hover {
  color: #fff;
}
.top-nav {
  float: left;
}
.top-nav ul {
  float: left;
}
.top-nav ul > li {
  float: left;
}
.sep {
  margin: 0 0.54em;
  font-size: 12px;
  color: #424242;
}
.download {
  position: relative;
}
.appcode {
  position: absolute;
  top: 28px;
  left: -37px;
  width: 126px;
  height: 0;
  visibility: hidden;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  color: #000;
  transition: 0.3s;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  overflow: hidden;
}
.download::before {
  content: '';
  position: absolute;
  display: none;
  top: 14px;
  left: 16px;
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: transparent transparent #fff transparent;
}
.appcode img {
  margin: 18px 18px 12px;
}
.download:hover .appcode {
  height: 148px;
  visibility: visible;
}
.download:hover::before {
  display: block;
}

/* 购物车 */
.top-info,
.top-car {
  float: right;
}

.top-car {
  position: relative;
  width: 120px;
  margin-left: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  color: #b0b0b0;
  background-color: #424242;
  cursor: pointer;
}
.top-car:hover {
  background-color: #fff;
  color: #ff7c23;
}
.top-car > span::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('../image/cart.png');
}
.top-car:hover > span::before {
  background: url('../image/cart-orange.png');
}
.menu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 316px;
  background-color: lightblue;
  z-index: -1;
}
.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  background-color: #fff;
  transition: height 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.loading-left,
.loading-center,
.loading-right {
  width: 4px;
  height: 15px;
  opacity: 0;
  background-color: #ff6700;
}
.loading-center {
  margin: 3px;
  height: 18px;
}
.top-car:hover .loading-left {
  height: 0;
  opacity: 0.7;
  transition: height 0.4s ease 0.2s, opacity 0.2s ease 0.15s;
}
.top-car:hover .loading-center {
  height: 0;
  opacity: 1;
  transition: height 0.4s ease 0.3s, opacity 0.2s ease 0.15s;
}
.top-car:hover .loading-right {
  height: 0;
  opacity: 0.7;
  transition: height 0.4s ease 0.4s, opacity 0.2s ease 0.15s;
}
.top-car:hover .loading {
  height: 100px;
  visibility: visible;
  /* z-index: 5; */
}
.menu-content {
  position: absolute;
  visibility: hidden;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100px;
  line-height: 100px;
  color: #000;
  background-color: #fff;
  overflow: hidden;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); */
}
.top-car:hover .menu-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s ease 0.8s, visibility 0.1s ease 0.8s;
}

/* 第二层导航栏 */
.site-header {
  position: relative;
  height: 100px;
  padding-top: 23px;
  box-sizing: border-box;
}
.header-logo {
  float: left;
  background-color: #ff6700;
}
.header-logo a {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
}
.header-logo a::before,
.header-logo a::after {
  content: '';
  position: absolute;
  top: 0;
  width: 55px;
  height: 55px;
  transition: 0.2s;
}
.header-logo a::before {
  left: 0;
  background: url('../image//mi-logo.png') no-repeat center;
}
.header-logo a::after {
  left: -55px;
  background: url('../image//mi-home.png') no-repeat center;
}
.header-logo:hover a::before {
  left: 55px;
}
.header-logo:hover a::after {
  left: 0;
}
.header-nav {
  float: left;
  margin-left: 190px;
}
.header-nav-list {
  float: left;
}
.header-nav-list li {
  float: left;
  padding: 0 20px 22px 0;
  line-height: 55px;
  cursor: pointer;
}
.header-nav-list li:hover {
  color: #ff7f00;
}
/* 手机列表 */
.site-header-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  height: 0;
  visibility: hidden;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  overflow: hidden;
  z-index: 35;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.02);
  transition: 0.3s;
}
.site-header-menu .list > li {
  float: left;
  position: relative;
  padding: 35px 22px 0;
  text-align: center;
  font-size: 12px;
}
.site-header-menu .list > li:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 35px;
  width: 1px;
  height: 100px;
  background-color: #e0e0e0;
}
.site-header-menu .list > li img {
  width: 160px;
  height: 110px;
}
.site-header-menu .list > li a {
  margin: 0;
}
.site-header-menu .list .title {
  color: #333;
  line-height: 20px;
}
.site-header-menu .list .price {
  color: #ff6700;
  line-height: 20px;
}
.header-nav-list:hover .site-header-menu{
  visibility: visible;
  height: 230px;
  /* border-top: none; */
}
.header-nav-list > li:hover .site-header-menu {
  visibility: visible;
  height: 230px;
  z-index: 45;
}

/* 搜索框 */
.header-search {
  float: right;
  position: relative;
}
.header-search:hover #search,
.header-search:hover .icon-search {
  border-color: #b0b0b0;
}
#search {
  position: relative;
  width: 223px;
  height: 50px;
  text-indent: 20px;
  border: 1px solid #e0e0e0;
  outline: none;
  box-sizing: border-box;
}
#search + label {
  float: right;
  position: relative;
}
.site-header .header-search #search:focus {
  border-color: #ff6700;
}
.site-header .header-search #search:focus + label > .icon-search {
  border-color: #ff6700;
}
#search:focus + label > span {
  opacity: 0;
}
#search:focus ~ .keywordList {
  display: block;
}
.icon-search {
  width: 50px;
  height: 50px;
  padding: 1px 6px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-left: none;
  background: url('../image/search.png') no-repeat center;
  background-size: 50% 50%;
}
.icon-search:hover {
  background-image: url('../image/search-white.png');
  background-color: #ff6700;
}
#search + label > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s;
  color: #757575;
  background: #eee;
}
#search + label > span:first-of-type {
  left: -170px;
}
#search + label > span:last-of-type {
  left: -90px;
}
/* 搜索框自动填充菜单 */
.keywordList {
  display: none;
  position: absolute;
  left: 0;
  right: 50px;
  border: 1px solid #ff6700;
  border-top: none;
  background-color: #fff;
  z-index: 30;
}
.result-list li {
  padding: 10px 15px;
  font-size: 12px;
  text-indent: 10px;
  color: #424242;
  cursor: pointer;
}
.result-list li:hover {
  background-color: #fafafa;
}

/* 轮播图  */
.content {
  position: relative;
}
.carousel-container {
  position: relative;
  width: 1226px;
  height: 460px;
  overflow: hidden;
}
.carousel-container > section > img {
  position: absolute;
  top: 0;
  width: 1226px;
  height: 460px;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
.carousel-container input {
  display: none;
  z-index: 2;
}
.round {
  position: relative;
  margin: 0 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  z-index: 3;
  background-color: #8e7f72;
  cursor: pointer;
}
.indicator {
  display: inline-block;
  position: relative;
  top: 425px;
  left: 1100px;
  text-align: center;
}
#carousel-1:checked ~ .indicator label[for='carousel-1'],
#carousel-2:checked ~ .indicator label[for='carousel-2'],
#carousel-3:checked ~ .indicator label[for='carousel-3'],
#carousel-4:checked ~ .indicator label[for='carousel-4'],
#carousel-5:checked ~ .indicator label[for='carousel-5'] {
  background-color: #fff;
}
#carousel-1:checked ~ section .img-1,
#carousel-2:checked ~ section .img-2,
#carousel-3:checked ~ section .img-3,
#carousel-4:checked ~ section .img-4,
#carousel-5:checked ~ section .img-5 {
  opacity: 1;
  visibility: visible;
}
.carousel-container > .prev,
.carousel-container > .next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 69px;
  width: 41px;
  font-size: 50px;
  color: #fff;
  z-index: 1;
  vertical-align: middle;
  cursor: pointer;
}
.carousel-container > .prev {
  left: 234px;
  background: url('https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png')
    no-repeat -84px 50%;
}
.carousel-container > .next {
  right: 0;
  background: url('https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png')
    no-repeat -125px 50%;
}
.carousel-container > .prev:hover {
  background-position: 0 50%;
}
.carousel-container > .next:hover {
  background-position: -42px 50%;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
  display: block;
}

/* 侧边栏 */
.site-sidebar {
  position: absolute;
  top: 0;
  padding: 20px 0;
  height: 460px;
  width: 234px;
  font-size: 14px;
  background-color: rgba(105, 101, 101, 0.6);
}
.sidebar-menu {
  display: block;
  height: 420px;
}
.sidebar-menu li.dropdown:hover > .submenu {
  visibility: visible;
}
.sidebar-menu li.dropdown:hover > a {
  background: #ff6700;
}
.sidebar-menu li a {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
}
.sidebar-menu li.dropdown > a::after {
  content: ' ';
  position: absolute;
  margin-left: 8px;
  top: 12px;
  right: 20px;
  width: 16px;
  height: 16px;
  background: url('../image/arrow-right.png') center;
  background-size: 135%;
}
.sidebar-menu .submenu {
  visibility: hidden;
}
.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  left: 100%;
  top: 0;
  width: 992px;
  height: 460px;
  z-index: 9;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
.submenu li {
  width: 25%;
  height: calc(100% / 6);
}
.submenu li a {
  display: block;
  color: #000;
  padding: 18px 20px;
  text-decoration-line: none;
}
.submenu li a > img {
  vertical-align: middle;
}
.submenu li a > .text {
  padding-left: 10px;
  vertical-align: middle;
}
.submenu li:hover .text {
  color: #ff6700;
}
.sidebar-menu .submenu > li.dropdown:hover > .submenu {
  display: block;
}

/* 上部分底部 */
.site-info {
  margin-top: 20px;
}
.info-left {
  float: left;
  width: 234px;
}
.info-left > ul {
  margin: 0;
  padding: 3px;
  font-size: 12px;
  text-align: center;
  background: #5f5750;
}
.info-left > ul > li {
  position: relative;
  float: left;
  width: 70px;
  height: 82px;
  padding: 20px 3px 0 3px;
  opacity: 0.7;
  color: #fff;
  cursor: pointer;
}
.info-left > ul > li:hover {
  opacity: 1;
}
.info-left > ul > li > img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 5px auto;
}
.info-left > ul > li::before,
.info-left > ul > li::after {
  position: absolute;
  content: '';
  background: #665e57;
}
.info-left > ul > li::before {
  top: -1px;
  left: 6px;
  width: 64px;
  height: 1px;
}
.info-left > ul > li::after {
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
}
.info-right {
  float: right;
}
.info-right > ul {
  float: right;
}
.info-right > ul > li {
  float: right;
  transition: box-shadow 0.3s;
}
.info-right > ul > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.info-right > ul > li:not(:last-child) {
  margin-left: 15px;
}
.info-right > ul > li img {
  width: 316px;
  height: 170px;
}

/* 主体内容 */
/* 小米闪购 */
main {
  margin-top: 25px;
  background-color: #f5f5f5;
}
.home-flashsale .title,
.home-phone .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.flashsale-countdown {
  float: left;
  width: 234px;
  height: 340px;
  border-top: 1px solid #e53935;
  background-color: #f1eded;
}
.flashsale-countdown p:first-child {
  margin: 55px 0 35px 0;
  text-align: center;
  font-size: 21px;
  color: #ef3a3b;
}
.flashsale-countdown img {
  display: block;
  margin: 0 auto;
}
.flashsale-countdown .end {
  margin-top: 35px;
  text-align: center;
  color: #6f6d6d;
}
.flashscale-list {
  float: left;
  position: relative;
}
.flashscale-list .container {
  position: absolute;
  top: -30px;
  width: 992px;
  height: 370px;
  overflow-x: hidden;
}
.flashscale-list .container section {
  display: flex;
  position: relative;
  padding-top: 12px;
  left: 0;
  transition: left 0.7s;
}
.flashscale-list .container ul {
  display: flex;
  position: relative;
  left: 15px;
}
.flashscale-list .container ul > li {
  margin-right: 15px;
  width: 233px;
  height: 340px;
  text-align: center;
  border-top: 1px solid;
  background-color: #fff;
  background-clip: content-box;
}
.flashscale-list .container ul > li:first-child {
  border-top-color: #ffac13;
}
.flashscale-list .container ul > li:nth-child(2) {
  border-top-color: #83c44e;
}
.flashscale-list .container ul > li:nth-child(3) {
  border-top-color: #2196f3;
}
.flashscale-list .container ul > li:nth-child(4) {
  border-top-color: #e53935;
}
.flashscale-list .container ul > li a {
  display: block;
  padding: 40px 0 25px 0;
  width: 233px;
  text-align: center;
}
.flashscale-list input[type='radio'] {
  visibility: hidden;
}
#flash-carousel-2:checked ~ section {
  left: -100%;
}
#flash-carousel-3:checked ~ section {
  left: -200%;
}
#flash-carousel-4:checked ~ section {
  left: -300%;
}
.flashscale-list .prev,
.flashscale-list .next {
  position: absolute;
  height: 24px;
  width: 36px;
  top: 0;
  border: 1px solid #e0e0e0;
  visibility: hidden;
  cursor: pointer;
}
.flashscale-list .prev {
  right: 51px;
}
.flashscale-list .next {
  right: 15px;
  border-left: none;
}
.flashscale-list .prev:hover::before {
  background: url('../image/icon-left-o.png') center;
}
.flashscale-list .next:hover::before {
  background: url('../image/icon-right-o.png') center;
}
.flashscale-list .prev::before,
.flashscale-list .next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: url('../image/icon-left.png') center;
}
.flashscale-list .next::before {
  background: url('../image/icon-right.png') center;
}
#flash-carousel-1:checked ~ .control-1,
#flash-carousel-2:checked ~ .control-2,
#flash-carousel-3:checked ~ .control-3,
#flash-carousel-4:checked ~ .control-4 {
  visibility: visible;
}
#flash-carousel-1:checked ~ .control-1 + em,
#flash-carousel-4:checked ~ .control-4 + em {
  position: absolute;
  top: 0;
  right: 51px;
  width: 36px;
  height: 24px;
  z-index: 5;
  background-color: #e0e0e0;
  opacity: 0.2;
}
#flash-carousel-4:checked ~ .control-4 + em {
  right: 15px;
}

.flashscale-list .container .title {
  padding: 0 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212121;
  white-space: nowrap;
}
.flashscale-list .container .descript {
  margin: 7px 0 20px 0;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
.flashscale-list .container .price {
  color: #ff6709;
  font-size: 14px;
}
.flashscale-list .container .price del {
  color: #b0b0b0;
}
main .bg img {
  margin: 25px 0;
  width: 1226px;
}

/* 手机 */
.home-phone {
  position: relative;
}
.home-phone .all {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 28px;
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  cursor: pointer;
}
.home-phone .all em::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
}
.home-phone .all em::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background: url('../image/icon-right-white.png') center;
}
.home-phone .all:hover {
  color: #ff6700;
}
.home-phone .all:hover em::before {
  background: #ff6700;
}
.phone-img {
  float: left;
  cursor: pointer;
  transition: all 0.2s linear;
}
.phone-img img {
  width: 234px;
  height: 614px;
}
.phone-img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.phone-list {
  float: left;
  padding-left: 15px;
  width: 992px;
}
.phone-list ul {
  display: flex;
  flex-wrap: wrap;
}
.phone-list ul > li {
  width: 233px;
  height: 300px;
  margin: 0 15px 14px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
.phone-list ul > li:nth-child(4),
.phone-list ul > li:nth-child(8),
.content-right .list ul > li:nth-child(4),
.content-right .list ul > li:nth-child(8) {
  margin-right: 0;
}
.phone-list ul > li:nth-child(n + 4),
.content-right .list ul > li:nth-child(n + 4) {
  margin-bottom: 0;
}
.phone-list ul > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.home-phone .phone-list .title,
.content-right .list ul > li .title {
  margin: 10px 0 0 0;
  padding: 0 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212121;
  white-space: nowrap;
}
.home-phone .phone-list .descript,
.content-right .list ul > li .descript {
  margin: 7px 0 20px 0;
  height: 18px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
.home-phone .phone-list .price,
.content-right .list ul > li .price {
  color: #ff6709;
  font-size: 14px;
}
.home-phone .phone-list .price del,
.content-right .list ul > li .price del {
  color: #b0b0b0;
}

/* 家电 */
.home-appliances {
}
.content-left {
  float: left;
  width: 234px;
  font-size: 0;
}
.home-appliances .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.content-left img {
  width: 234px;
  height: 300px;
  transition: all 0.2s linear;
}
.content-left a:first-of-type img {
  margin-bottom: 14px;
}
.content-left a img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.content-right {
  position: relative;
  float: left;
  width: 992px;
  padding-left: 15px;
  text-align: right;
}
.tab-left,
.tab-right {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  line-height: 27px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
/* 文字用伪元素覆盖 */
div.tab-left::after,
div.tab-right::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: #ff6700;
  visibility: hidden;
  transition: visibility 99999s linear;
  border-bottom: 2px solid #ff6700;
}
div.tab-left::after {
  content: '热门';
}
div.tab-right::after {
  content: '电视影音';
}
.tab-right {
  color: #000;
  border-color: transparent;
}
/* 蒙层覆盖tab标签，让其能方便选择 */
.tab-left.cover,
.tab-right.cover {
  position: absolute;
  top: 0;
  z-index: 1;
}
.tab-left.cover {
  width: 32px;
  height: 27px;
}
.tab-right.cover {
  width: 64px;
  height: 27px;
  right: 0;
}
/* tab切换控制 */
.tab-left:hover ~ .content-1 {
  visibility: visible;
  transition: visibility 0.1s linear;
}
.tab-left:hover ~ .content-2 {
  display: none;
}
.tab-right:hover ~ .content-2 {
  visibility: visible;
  transition: visibility 0.1s linear;
}
.tab-right:hover ~ .content-1 {
  visibility: hidden;
}

.tab-right.cover:hover ~ .tab-left::after {
  display: none;
}
.tab-right.cover:hover ~ .tab-right::after {
  visibility: visible;
  transition: visibility 0.1s linear;
}
.tab-left.cover:hover ~ .tab-right::after {
  display: none;
}
.tab-left.cover:hover ~ .tab-left::after {
  visibility: visible;
  transition: visibility 0.1s linear;
}
.content-right .list {
  position: absolute;
  top: 58px;
  padding-left: 15px;
  left: 0;
  height: 614px;
  visibility: hidden;
  transition: visibility 99999s linear;
  -webkit-transition: visibility 99999s linear;
}
.content-1.list {
  visibility: visible;
}
.content-right .list ul {
  display: flex;
  flex-wrap: wrap;
}
.content-right .list ul > li {
  width: 233px;
  height: 300px;
  margin: 0 15px 14px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
.content-right .list ul > li:not(:last-child):hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.content-right .list ul > li.last {
  position: relative;
  padding: 0;
  background-color: transparent;
}
.content-right .list ul > li.last .info {
  height: 143px;
  background-color: #fff;
  transition: all 0.2s linear;
}
.content-right .list ul > li.last .info:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.content-right .list ul > li.last .last-top {
  margin-bottom: 14px;
}
.content-right .list ul > li.last .title {
  float: left;
  margin: 40px 0 0 30px;
  padding: 0;
  width: 95px;
  text-overflow: initial;
  white-space: normal;
  text-align: left;
}
.content-right .list ul > li.last .price {
  display: inline-block;
  margin-top: 5px;
}
.content-right .list ul > li.last a {
  float: left;
  margin: 30px 0 0 10px;
}
.content-right .list ul > li.last .last-bottom p:first-child {
  padding: 50px 0 0 30px;
  text-align: left;
  font-size: 18px;
}
.content-right .list ul > li.last .hot {
  padding: 10px 0 0 30px;
  font-size: 12px;
  text-align: left;
  color: #757575;
}
.content-right .list ul > li.last::after {
  content: '';
  position: absolute;
  top: 199px;
  right: 35px;
  width: 48px;
  height: 48px;
  background: url('../image/Right-button.png') center;
}

/* 右侧固定条 */
.site-bar {
  position: fixed;
  right: 0;
  bottom: 80px;
  z-index: 100;
}
.site-bar ul li {
  position: relative;
  margin-top: -1px;
  width: 82px;
  height: 90px;
  text-align: center;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  background-color: #fff;
}
.site-bar ul span {
  display: block;
  margin-top: 55px;
  color: #757575;
  font-size: 14px;
}
.site-bar ul img {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 30px;
  height: 30px;
}
.site-bar ul img:nth-of-type(2) {
  opacity: 0;
}
.site-bar ul li:hover span {
  color: #ff6700;
}
.site-bar ul li:hover img:nth-of-type(1) {
  opacity: 0;
}
.site-bar ul li:hover img:nth-of-type(2) {
  opacity: 1;
}
.site-bar ul li.totop {
  margin-top: 20px;
}
.site-bar ul li.totop a {
  position: relative;
  display: inline-block;
  width: 82px;
  height: 90px;
  z-index: 1;
}
.site-bar ul li.totop a + span {
  margin-top: -35px;
}
@media (max-width: 1300px) {
  .site-bar ul li {
    width: 25px;
    height: 40px;
  }
  .site-bar ul img {
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translate(50%, 0);
    width: 20px;
    height: 20px;
  }
  .site-bar ul li.totop a {
    width: 25px;
    height: 40px;
  }
  .site-bar ul span {
    display: none;
  }
  .site-bar {
    bottom: 45px;
  }
}
